@font-face {
    font-family: 'font';
    src: url(../fonts/GODOFWAR.TTF);
}

html {
    font-family: 'font';
    background-color: #FCFEFC;
    color: #000000;
}

ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding: 0 40px 0 0;
    align-items: center;
}

ul a {
    text-decoration: none;
    font-size: 28px;
    line-height: 28px;
    color: #CB0101;
    width: auto;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

ul li {
    padding: 0 0 0 60px;
    width: 130px;
    text-align: center;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #FCFEFC;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 10px 0;
    border-bottom: 2px #000000 solid;
}

.user {
    width: 50px;
    height: 50px;
    padding: 0 0 0 60px;
}

.logo {
    width: 70px;
    height: 70px;
    padding: 0 40px;
}