@font-face {
    font-family: 'font';
    src: url(../fonts/GODOFWAR.TTF);
}

@font-face {
    font-family: 'font-18';
    src: url(../fonts/gow2018/Berserker-Regular.ttf);
}

html {
    font-family: 'font';
}

ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding: 0 40px 0 0;
    align-items: center;
}

ul a {
    text-decoration: none;
    font-size: 28px;
    line-height: 28px;
    color: #CB0101;
    width: auto;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

ul li {
    padding: 0 0 0 60px;
    width: auto;
    height: 100%;
    text-align: center;
    display: flex;
    transition: 0.3s;
}

ul li:hover {
    transition: 0.3s;
    transform:scale(1.1) ;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #FCFEFC;
    align-items: center;
    width: auto;
    height: auto;
    padding: 10px 0;
}

img {
    width: 50px;
    height: 50px;
    padding: 0 0 0 60px;
}

.logo {
    width: 70px;
    height: 70px;
    padding: 0 40px;
}