html {
    background-color: #FCFEFC;
    color: #000000;
    font-family: 'font-18';
}

.banner {
    width: 100%;

    background-image: url(../imgs/cadastro-img.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    width: 35%;
    margin: 10% 0 5% 0;
    background-color: rgba(38, 38, 38, 0.5);
    border-radius: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cadastro {
    width: 60%;
    opacity: 100%;
    margin: 20px 0 30px 0;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}

.cadastro h2 {
    font-size: 30px;
    text-align: center;
    width: 50%;
    padding: 3px 0;
}

.nome {
    width: 80%;
    display: flex;
    justify-content: space-around;
    background-color: #D9D9D9;
    border-radius: 5px;
    margin: 8px 0;
    display: flex;
    align-items: center;
}

.email {
    width: 80%;
    display: flex;
    justify-content: space-around;
    background-color: #D9D9D9;
    border-radius: 5px;
    margin: 8px 0;
    display: flex;
    align-items: center;
}

.senha {
    width: 80%;
    display: flex;
    justify-content: space-around;
    background-color: #D9D9D9;
    border-radius: 5px;
    margin: 8px 0;
    display: flex;
    align-items: center;
}

.selects {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    background-color: #D9D9D9;
    border-radius: 5px;
    margin: 8px 0;
    display: flex;
    align-items: center; 
    flex-wrap: wrap;
}

.selects p {
    width: 50%;
    text-align: center;
    padding: 0 0 5px 0;
}

.selects select {
    width: 40%;
    background-color: #ffffff;
    border-radius: 5px;
    height: 35px;
    border-color: transparent;
    text-align: center;
    font-size: 20px;
    margin: 5px 0 10px 0;
    font-family: 'font-18';
}

.main button {
    margin: 20px 0;
    width: 25%;
    height: 40px;
    border-radius: 10px;
    font-size: 30px;
    border-color: transparent;
}

.main p {
    font-size: 24px;
    margin: 8px 0;
}

.main input {
    width: 60%;
    border-radius: 5px;
    margin: 8px 0;
    border-color: transparent;
    font-size: 20px;
    text-align: center;
    font-family: 'font-18';
}

.main a {
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    padding: 0 0 20px 0;
}

.main a:hover {
    transition: 0.3s;
    letter-spacing: 1px;
    color: #CB0101;
}

.main button:hover {
    transition: 0.3s;
    color: #CB0101;
    transform: scale(1.1);
    letter-spacing: 1px;
}